/* 
  Name: Yousif Adel
  Description: This is the CSS for the game
*/

* {
  box-sizing: border-box;
}

:root {
  --primary-color: #f44336;
  --in-place-color: #f89e13;
  --not-in-place-color: #18ba89;
  --wrong-color: #27303f;
}

body {
  margin: 0;
  background-color: #eee;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
}

h1 {
  text-align: center;
  padding: 20px;
  margin: 0 0 50px;
  background-color: white;
}

.guess-game {
  text-align: center;
  width: 1000px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  .game-area {
    text-align: center;
    .inputs {
      > div {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        span {
          font-size: 30px;
          margin-right: 15px;
          font-weight: bold;
        }
      }
      input {
        margin: 0 5px;
        width: 60px;
        height: 60px;
        font-size: 50px;
        text-align: center;
        caret-color: var(--primary-color);
        background-color: white;
        border: none;
        border-bottom: 3px solid #333;
        &:focus {
          outline-color: #ccc;
        }
        &.in-place {
          background-color: var(--in-place-color);
          border-color: var(--in-place-color);
          color: white;
        }
        &.not-in-place {
          color: white;
          background-color: var(--not-in-place-color);
          border-color: var(--not-in-place-color);
        }
        &.wrong {
          color: white;
          background-color: var(--wrong-color);
          border-color: var(--wrong-color);
        }
      }

      .disabled-inputs {
        opacity: 0.5;
        pointer-events: none;
      }
    }

    .control {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 500px;
      gap: 10px;
      margin: 30px auto;
      button {
        border: none;
        font-size: 25px;
        padding: 15px 20px;
        border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;
        cursor: pointer;
        font-weight: bold;
        color: white;
      }

      .check {
        background-color: var(--primary-color);
        flex: 1;
      }
      .hint {
        border: none;
        background-color: #009688;
      }
      .restart {
        border: none;
        background-color: #333;
      }
      button:disabled {
        background-color: black;
        opacity: 0.4;
        cursor: no-drop;
      }
    }
    .message {
      text-align: center;
      font-weight: bold;
      font-size: 30px;
      span {
        font-weight: bold;
        display: block;
        font-size: 50px;
        color: var(--primary-color);
        text-transform: capitalize;
        margin-top: 10px;
      }
      p {
        margin-top: 15px;
      }
    }
  }
  .key-colors {
    .key-color {
      display: flex;
      align-items: center;
      padding: 15px;
      margin-bottom: 10px;
      background-color: white;
      .key {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        margin-right: 10px;
        &.in-place {
          background-color: var(--in-place-color);
        }
        &.not-in-place {
          background-color: var(--not-in-place-color);
        }
        &.wrong {
          background-color: var(--wrong-color);
        }
      }
      .key-text {
        font-weight: bold;
        font-size: 20px;
      }
    }
  }
}

footer {
  text-align: center;
  padding: 20px;
  position: absolute;
  bottom: 0;
  background-color: #333;
  font-weight: bold;
  color: white;
  width: 100%;
}

@media (max-width: 992px) {
  h1 {
    padding: 20px 10px;
    font-size: 30px;
  }

  .guess-game {
    width: 700px;
    flex-wrap: wrap-reverse;
    .game-area {
      .inputs {
        > div {
          span {
            font-size: 23px;
            margin-right: 10px;
          }
        }
        input {
          width: 40px;
          height: 30px;
          font-size: 20px;
          border-bottom: 1px solid #333;
        }
      }

      .control {
        width: 700px;
        button {
          font-size: 20px;
          padding: 10px 10px;
        }
      }
      .message {
        font-size: 20px;
        span {
          font-size: 25px;
        }
      }
    }
    .key-colors {
      width: 700px;
      margin-bottom: 10px;
      .key-color {
        padding: 15px 10px;
        .key {
          width: 20px;
          height: 20px;
        }
        .key-text {
          font-size: 20px;
        }
      }
    }
  }

  footer {
    padding: 15px 30px;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 27px;
    margin: 0;
  }

  .guess-game {
    width: 300px;
    flex-wrap: wrap-reverse;
    .game-area {
      .inputs {
        width: 300px;

        > div {
          span {
            font-size: 20px;
            margin-right: 5px;
          }
        }
        input {
          width: 30px;
          height: 30px;
          font-size: 20px;
          border-bottom: 1px solid #333;
        }
      }

      .control {
        width: 300px;
        button {
          font-size: 20px;
          padding: 10px 4px;
        }
      }
      .message {
        font-size: 14px;
        span {
          font-size: 20px;
        }
      }
    }
    .key-colors {
      .key-color {
        .key {
          width: 15px;
          height: 15px;
          margin-right: 5px;
        }
        .key-text {
          font-size: 15px;
        }
      }
    }
  }

  footer {
    margin-top: 15px;
    padding: 8px 5px;
  }
}
